{{head-layout}}
{{title "Bureau of Reclamation" prepend=true separator=" | "}}
<body>
  <div class="MainContainer">
    <!-- Skip Links (only visible to screen readers) -->
    <div id="SkipLinks" class="SkipLinks">
      <ul>
        <li>
          <a href="#Nav">Skip to Primary Navigation</a>
        </li>
        <li>
          <a href="#Main">Skip to Main Content</a>
        </li>
        <li>
          <a href="#Footer">Skip to Footer</a>
        </li>
      </ul>
    </div>
    <!-- #BeginLibraryItem "/Library/topnav.lbi" -->
    <div class="Header" id="top" role="banner"><!-- start Header -->
      <div class="Header-wrap container">

        <!-- Logo -->
        <a class="Header-logo" href="https://www.usbr.gov" title="Reclamation Home"><img src="https://www.usbr.gov/img/logo-white.png" alt="Bureau of Reclamation: Managing Water in the West"></a>

         <div class="Header-social">

           <ul>
            <li>
              <a href="https://www.facebook.com/bureau.of.reclamation" class="critical-icon, tooltip-ng2" title="Facebook" target="new">
                <span class="icon-facebook" aria-hidden="true"></span>

              </a>
            </li>
            <li>
              <a href="https://twitter.com/usbr" class="critical-icon, tooltip-ng2" title="Twitter" target="new">
                <span class="icon-twitter" aria-hidden="true"></span>

              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/reclamation" class="critical-icon, tooltip-ng2" title="YouTube" target="new">
                <span class="icon-youtube" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="https://www.flickr.com/photos/usbr/" class="critical-icon, tooltip-ng2" title="Flickr" target="new">
                <span class="icon-flickr" aria-hidden="true"></span>
               </a>
            </li>

            <li>
              <a href="https://www.pinterest.com/usbrgov/" class="critical-icon, tooltip-ng2" title="Pinterest" target="new">
                <span class="icon-pinterest" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/bureau_of_reclamation" class="critical-icon, tooltip-ng2" title="Instagram" target="new">
                <span class="icon-instagram" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="https://www.usbr.gov/newsroom/rssxml/rssfeeds.html" class="critical-icon" title="RSS" target="new">
                <span class="icon-rss" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div><!-- end Header-social -->

      </div><!-- end container -->
    </div><!-- end Header -->

    <!-- Start Nav Menu -->
    <div class="Nav" id="Nav">
      <div class="Nav-wrap">
        <!-- Navigation -->
        <ol class="Nav-list resetList" role="navigation" aria-label="Primary Navigation">
          <li class="Nav-item">
            <a class="Nav-item-link" href="#">Water &amp; Power</a>
            <ol class="Nav-sublist resetList" aria-label="submenu">
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/projects/facilities.php?type=Dam" class="Nav-sublist-link">Dams</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/projects/facilities.php?type=Powerplant" class="Nav-sublist-link">Powerplants</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/projects/facilities.php?type=Project" class="Nav-sublist-link">Projects</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/agrihydro.html" class="Nav-sublist-link">Agrimet/Hydromet</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/water/" class="Nav-sublist-link">Water Operations</a></li>
             </ol>
          </li>
          <li class="Nav-item">
            <a class="Nav-item-link" href="#">Resources &amp; Research</a>
            <ol class="Nav-sublist resetList" aria-label="submenu">
               <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/programs/" class="Nav-sublist-link">Programs</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/tsc/" class="Nav-sublist-link">Technical Service Center</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/research/" class="Nav-sublist-link">Research &amp; Development</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/recman/" class="Nav-sublist-link">Reclamation Manual</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/environmental/" class="Nav-sublist-link">Environmental Resources/Reports</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/library/" class="Nav-sublist-link">Library</a></li>
            </ol>
          </li>
          <li class="Nav-item">
            <a class="Nav-item-link" href="#">About Us</a>
            <ol class="Nav-sublist resetList" aria-label="submenu">
              <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/about/mission.html" class="Nav-sublist-link">Mission</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/about/fact.html" class="Nav-sublist-link">Fact Sheet</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/presskit/bios/detail.cfm?recordid=1" class="Nav-sublist-link">Commissioner</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/offices.html" class="Nav-sublist-link">Addresses/Contacts</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/images/br_org_chart.pdf" class="Nav-sublist-link">Organizational Chart</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/presskit/bios/bios.cfm" class="Nav-sublist-link">Leadership Bios</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/hr/" class="Nav-sublist-link">Employment</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/comments.cfm" class="Nav-sublist-link">Contact</a></li>
            </ol>
          </li>
          <li class="Nav-item">
            <a class="Nav-item-link" href="#">Recreation &amp; Public Use</a>
            <ol class="Nav-sublist resetList" aria-label="submenu">
              <li class="Nav-sublist-item"><a href="https://www.usbr.gov/recreation/" class="Nav-sublist-link">Find Recreation</a></li>
             <li class="Nav-sublist-item"><a href="https://www.recreation.gov" class="Nav-sublist-link">Recreation.gov</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/lands/" class="Nav-sublist-link">Public Use</a></li>
            </ol>
          </li>
          <li class="Nav-item">
            <a class="Nav-item-link" href="#">News &amp; Multimedia</a>
            <ol class="Nav-sublist resetList" aria-label="submenu">
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/newsrelease/" class="Nav-sublist-link">News Releases</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/stories/" class="Nav-sublist-link">News Stories</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/speech/" class="Nav-sublist-link">Speeches</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/testimony/" class="Nav-sublist-link">Congressional Testimony</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/newsroom/presskit/factsheet/" class="Nav-sublist-link">Fact Sheets</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/multimedia/index.html#photos" class="Nav-sublist-link">Photos</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/multimedia/index.html#video" class="Nav-sublist-link">Multimedia</a></li>
             <li class="Nav-sublist-item"><a href="https://www.usbr.gov/main/multimedia/index.html#social" class="Nav-sublist-link">Social Media</a></li>
            </ol>
          </li>
        </ol>

        <!-- Search -->
        <div class="Header-search" id="recSearch">
           <form method="get" action="https://search.usa.gov/search" role="search">
            <input type="hidden" name="affiliate" value="Reclamation" />
            <label class="visuallyhidden" for="query">Search</label>
            <input type="text" name="query" id="query" placeholder="Search" />
            <button type="submit" id="search">Search</button>
          </form>
        </div>
      </div>
    </div>
    <!-- End Nav Menu -->

    <!-- #EndLibraryItem -->
    <!-- Update inline style to change banner image -->
    <div class="Main" id="Main" role="main" style="background-image: url('https://www.usbr.gov/img/bg-banner.jpg')">
      <!-- Additional wrapper for bottom background image -->
      <div class="Main-wrap" style="background-image: url('https://www.usbr.gov/img/bg-footer.jpg')">
        <!-- Banner -->
        <!-- Banner -->
        <div class="Banner Banner--full">
          <div class="Banner-content">
            <div class="container">
              <h1>News & Multimedia</h1>
              <p>{{pageHeader}}</p>
            </div>
          </div>
        </div>
        <!-- end Banner -->
        <div class="Main-content container clearfix">

          <div class='Breadcrumbs'>
            <ul class='resetList'>
              <li>
                <a href='/'>Reclamation</a>
              </li>
              <li>
                {{#link-to 'base.index'}}News & Multimedia{{/link-to}}

                {{!-- <a href='/'>News & Multimedia</a> --}}
              </li>
              {{#each breadcrumbs.breadcrumbsLinks as |breadcrumb|}}
                <li>
                  {{#if breadcrumb.model}}
                    {{#link-to breadcrumb.route breadcrumb.model}}{{breadcrumb.text}}{{/link-to}}
                  {{else}}
                    {{#link-to breadcrumb.route}}{{breadcrumb.text}}{{/link-to}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="Main-nav">
            <div class="LeftNav" role="navigation">
              <span class="LeftNav-title">NEWS & MULTIMEDIA</span>
              <ul class="LeftNav-list">
                <li class="{{if navActive.index '-active' ''}}"><span>{{#link-to 'base'}}News & Multimedia{{/link-to}}</span></li>
                <li class="{{if navActive.newsRelease '-active' ''}}"><span {{action 'resetFilterBy'}}>{{#link-to 'base.news-releases'}}News Releases{{/link-to}}</span>
                  {{#if navActive.newsRelease}}
                    <ul>
                      <li><a class="pointer" {{action 'filterBy' '{"year": true}'}}>Filter by Year</a></li>
                      {{#if filterBy.year}}
                        <li>
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2018'}}>2018</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2017'}}>2017</a></li>
                          </ul>
                        </li>
                      {{/if}}
                      <li>
                        <a class="pointer" {{action 'filterBy' '{"region": true}'}}>Filter by Region</a>
                        {{#if filterBy.region}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Commissioner\'s Office'}}>Commissioner's Office</a></li>
                            <li>
                              Regions
                              <ul>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Great Plains Region'}}>Great Plains Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Lower Colorado Region'}}>Lower Colorado Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Mid-Pacific Region'}}>Mid-Pacific Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Pacific Northwest Region'}}>Pacific Northwest Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Upper Colorado Region'}}>Upper Colorado Region</a></li>
                              </ul>
                            </li>
                          </ul>
                        {{/if}}
                      </li>
                      <li>
                        <a class="pointer" {{action 'filterBy' '{"state": true}'}}>Filter by State</a>
                        {{#if filterBy.state}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Arizona'}}>Arizona</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'California'}}>California</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Colorado'}}>Colorado</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Hawaii'}}>Hawaii</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Idaho'}}>Idaho</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Kansas'}}>Kansas</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Montana'}}>Montana</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Nebraska'}}>Nebraska</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Nevada'}}>Nevada</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'New Mexico'}}>New Mexico</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'North Dakota'}}>North Dakota</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Oklahoma'}}>Oklahoma</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Oregon'}}>Oregon</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'South Dakota'}}>South Dakota</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Texas'}}>Texas</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Utah'}}>Utah</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Washington'}}>Washington</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Washington, D.C.'}}>Washington, D.C.</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Wyoming'}}>Wyoming</a></li>
                          </ul>
                        {{/if}}
                      </li>
                      <li>
                        <a class="pointer" {{action 'filterBy' '{"topics": true}'}}>Filter by Topics</a>
                        {{#if filterBy.topics}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Bureau of Reclamation'}}>Bureau of Reclamation</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'California Water'}}>California Water</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Ecosystem Restoration'}}>Ecosystem Restoration</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Hydropower'}}>Hydropower</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Facilities'}}>Facilities</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Recreation'}}>Recreation</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Research'}}>Research</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Rural Water'}}>Rural Water</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Safety of Dams'}}>Safety of Dams</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Supporting Tribal Nations'}}>Supporting Tribal Nations</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'WaterSMART'}}>WaterSMART</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Youth'}}>Youth</a></li>
                          </ul>
                        {{/if}}
                      </li>
                      <li>
                        <a class="pointer" {{action 'addFilter' 'archived_field_date' 'field_date_to_be_published' 'lt' '2017-01-18' 'Archived News Releases'}} {{action 'filterBy' '{"archive": true}'}}>News Release Archive</a>
                        {{#if filterBy.archive}}
                          <ul>
                            <li>
                              <a class="pointer" {{action 'filterBy' '{"archive": true, "archiveYear": true}'}}>Archive by Year</a>
                              {{#if filterBy.archiveYear}}
                                <ul>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2017'}}>2017</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2016'}}>2016</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2015'}}>2015</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2014'}}>2014</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2013'}}>2013</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2012'}}>2012</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2011'}}>2011</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2010'}}>2010</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2009'}}>2009</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2008'}}>2008</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2007'}}>2007</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2006'}}>2006</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2005'}}>2005</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2004'}}>2004</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date_to_be_published' 'like' '2003'}}>2003</a></li>
                                </ul>
                              {{/if}}
                            </li>
                            <li>
                              <a class="pointer" {{action 'filterBy' '{"archive": true, "archiveRegion": true}'}}>Archive by Region</a>
                              {{#if filterBy.archiveRegion}}
                                <ul>
                                  <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Commissioner\'s Office'}}>Commissioner's Office</a></li>
                                  <li>
                                    Regions
                                    <ul>
                                      <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Great Plains Region'}}>Great Plains Region</a></li>
                                      <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Lower Colorado Region'}}>Lower Colorado Region</a></li>
                                      <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Mid-Pacific Region'}}>Mid-Pacific Region</a></li>
                                      <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Pacific Northwest Region'}}>Pacific Northwest Region</a></li>
                                      <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Upper Colorado Region'}}>Upper Colorado Region</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              {{/if}}
                            </li>
                            <li>
                              <a class="pointer" {{action 'filterBy' '{"archive": true, "archiveState": true}'}}>Archive by State</a>
                              {{#if filterBy.archiveState}}
                                <ul>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Arizona'}}>Arizona</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'California'}}>California</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Colorado'}}>Colorado</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Hawaii'}}>Hawaii</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Idaho'}}>Idaho</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Kansas'}}>Kansas</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Montana'}}>Montana</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Nebraska'}}>Nebraska</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Nevada'}}>Nevada</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'New Mexico'}}>New Mexico</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'North Dakota'}}>North Dakota</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Oklahoma'}}>Oklahoma</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Oregon'}}>Oregon</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'South Dakota'}}>South Dakota</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Texas'}}>Texas</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Utah'}}>Utah</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Washington'}}>Washington</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Washington, D.C.'}}>Washington, D.C.</a></li>
                                  <li><a class="pointer" {{action 'addFilter' 'field_state' 'field_state' 'eq' 'Wyoming'}}>Wyoming</a></li>
                                </ul>
                              {{/if}}
                            </li>
                          </ul>
                        {{/if}}
                      </li>
                    </ul>
                  {{/if}}
                </li>
                <li class="{{if navActive.newsStories '-active' ''}}"><span {{action 'resetFilterBy'}}>{{#link-to 'base.stories'}}News Stories{{/link-to}}</span>
                  {{#if navActive.newsStories}}
                    <ul>
                      <li>
                        <a class="pointer" {{action 'filterBy' '{"topics": true}'}}>Filter by Topics</a>
                        {{#if filterBy.topics}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Bureau of Reclamation'}}>Bureau of Reclamation</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'California Water'}}>California Water</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Ecosystem Restoration'}}>Ecosystem Restoration</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Hydropower'}}>Hydropower</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Facilities'}}>Facilities</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Recreation'}}>Recreation</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Research'}}>Research</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Rural Water'}}>Rural Water</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Safety of Dams'}}>Safety of Dams</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Supporting Tribal Nations'}}>Supporting Tribal Nations</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'WaterSMART'}}>WaterSMART</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_issue_number' 'field_issue_number' 'eq' 'Youth'}}>Youth</a></li>
                          </ul>
                        {{/if}}
                      </li>
                      <li>
                        <a class="pointer" {{action 'filterBy' '{"region": true}'}}>Filter by Region</a>
                        {{#if filterBy.region}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Commissioner\'s Office'}}>Commissioner's Office</a></li>
                            <li>
                              Regions
                              <ul>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Great Plains Region'}}>Great Plains Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Lower Colorado Region'}}>Lower Colorado Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Mid-Pacific Region'}}>Mid-Pacific Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Pacific Northwest Region'}}>Pacific Northwest Region</a></li>
                                <li><a class="pointer" {{action 'addFilter' 'field_region' 'field_region' 'eq' 'Upper Colorado Region'}}>Upper Colorado Region</a></li>
                              </ul>
                            </li>
                          </ul>
                        {{/if}}
                      </li>
                    </ul>
                  {{/if}}
                </li>
                <li class="{{if navActive.speeches '-active' ''}}"><span {{action 'resetFilterBy'}}>{{#link-to 'base.speech'}}Speeches{{/link-to}}</span>
                  {{#if navActive.speeches}}
                    <ul>
                      <li>
                        <a class="pointer" {{action 'addFilter' 'archived_field_date' 'field_date' 'lt' '2017-01-18' 'Archived Speeches'}} {{action 'filterBy' '{"archive": true}'}}>Speech Archive</a>
                        {{#if filterBy.archive}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2017'}}>2017</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2016'}}>2016</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2015'}}>2015</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2014'}}>2014</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2013'}}>2013</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2012'}}>2012</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2011'}}>2011</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2010'}}>2010</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2009'}}>2009</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2008'}}>2008</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2007'}}>2007</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2006'}}>2006</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2005'}}>2005</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2004'}}>2004</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2003'}}>2003</a></li>
                          </ul>
                        {{/if}}
                      </li>
                    </ul>
                  {{/if}}
                </li>
                <li class="{{if navActive.testimony '-active' ''}}"><span {{action 'resetFilterBy'}}>{{#link-to 'base.testimony'}}Congressional Testimony{{/link-to}}</span>
                  {{#if navActive.testimony}}
                    <ul>
                      <li>
                        <a class="pointer" {{action 'addFilter' 'archived_field_date' 'field_date' 'gt' '2017-01-18' 'Archived Testimonies'}} {{action 'filterBy' '{"archive": true}'}}>Testimony Archive</a>
                        {{#if filterBy.archive}}
                          <ul>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2016'}}>2016</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2015'}}>2015</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2014'}}>2014</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2013'}}>2013</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2012'}}>2012</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2011'}}>2011</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2010'}}>2010</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2009'}}>2009</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2008'}}>2008</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2007'}}>2007</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2006'}}>2006</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2005'}}>2005</a></li>
                            <li><a class="pointer" {{action 'addFilter' 'field_year' 'field_date' 'like' '2004'}}>2004</a></li>
                          </ul>
                        {{/if}}
                      </li>
                    </ul>
                  {{/if}}
                </li>
                <li><span>{{#link-to 'base.biographies'}}Leadership Bios{{/link-to}}</span></li>
                <li><span><a href="https://www.usbr.gov/main/images/br_org_chart.pdf" target="_blank">Org Chart</a></span></li>
                {{#each pages as |page|}}
                    <li><span>{{#link-to 'base.pages.show' page.slug}}{{page.title}}{{/link-to}}</span></li>
                {{/each}}

                <li><span><a href="https://www.usbr.gov/main/multimedia/index.html#photos">Photos</a></span></li>
                <li><span><a href="https://www.usbr.gov/main/multimedia/index.html#video">Multimedia</a></span></li>
                <li><span><a href="https://www.usbr.gov/main/multimedia/index.html#social">Social Media</a></span></li>

              </ul>
            </div>
          </div>


          <div class="Main-well">
            {{outlet}}
            <!-- end Main-well-columns-sidebar -->
          </div>
          <!-- end Main-well-columns -->
        </div>
        <!-- end Main-wrap -->
      </div>
      <!-- end Main -->
      <!-- #BeginLibraryItem "/library/footer.lbi" -->

      <!-- Footer -->
      <div class="Footer" id="Footer" role="contentinfo">
        <div class="container">

          <h2 class="visuallyhidden">More Information about the Bureau of Reclamation</h2>

          <!-- Social Links -->
          <div class="Footer-social">
            <h2>Stay in Touch</h2>
            <ul>
              <li>
                <a href="https://www.facebook.com/bureau.of.reclamation" class="critical-icon, tooltip-ng" title="Facebook" target="new">
                  <span class="icon-facebook" aria-hidden="true"></span>

                </a>
              </li>
              <li>
                <a href="https://twitter.com/usbr" class="critical-icon, tooltip-ng" title="Twitter" target="new">
                  <span class="icon-twitter" aria-hidden="true"></span>

                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/reclamation" class="critical-icon, tooltip-ng" title="YouTube" target="new">
                  <span class="icon-youtube" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="https://www.flickr.com/photos/usbr/" class="critical-icon, tooltip-ng" title="Flickr" target="new">
                  <span class="icon-flickr" aria-hidden="true"></span>
                 </a>
              </li>

              <li>
                <a href="https://www.pinterest.com/usbrgov/" class="critical-icon, tooltip-ng" title="Pinterest" target="new">
                  <span class="icon-pinterest" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/bureau_of_reclamation/" class="critical-icon, tooltip-ng" title="Instagram" target="new">
                  <span class="icon-instagram" aria-hidden="true"></span>
                </a>
              </li>
              <li>
                <a href="https://www.usbr.gov/newsroom/rssxml/rssfeeds.html" class="critical-icon" title="RSS" target="new">
                  <span class="icon-rss" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Site Links -->
          <div class="Footer-links">
            <ul>
              <li><a href="https://www.usbr.gov/main/comments.cfm">Contact Us</a></li>
              <li><a href="https://www.usbr.gov/main/index/">Site Index</a></li>
            </ul>
            <ul>
              <li><a href="https://www.usbr.gov/main/access.html">Accessibility</a></li>
              <li><a href="https://www.usbr.gov/main/disclaimer.html">Disclaimer</a></li>
              <li><a href="https://www.doi.gov/" title="Department of the Interior">DOI</a></li>
              <li><a href="https://www.usbr.gov/foia/">FOIA</a></li>
              <li><a href="https://www.doi.gov/pmb/eeo/reports-repository">No Fear Act</a></li>
              <li><a href="https://www.usbr.gov/main/notices.html">Notices</a></li>
              <li><a href="https://www.usbr.gov/main/privacy.html">Privacy Policy</a></li>
              <li><a href="https://www.usbr.gov/main/qoi/">Quality of Information</a></li>
              <li><a href="https://www.recreation.gov/" target="new">Recreation.gov</a></li>
              <li><a href="https://www.usa.gov/" target="new">USA.gov</a></li>

            </ul>
          </div>

          <!-- Logo -->
          <a class="Footer-logo" href="https://www.usbr.gov"><img src="https://www.usbr.gov/img/seal-white.png" alt="U.S. Department of the Interior - Bureau of Reclamation"></a>

        </div>
      </div>
      <!-- End Footer -->

    </div>
  </div>
</body>
