<div class="Main-nav">
  <div class="LeftNav" role="navigation">
    <span class="LeftNav-title">NEWS & MULTIMEDIA</span>
    <ul class="LeftNav-list">
      {{#each this.sideBarItems as |sideBarItem|}}
        {{#let (eq selectedItem sideBarItem.label) as |isRouteActive|}}
       
          <li
            class={{if isRouteActive "-active"}}
          >
          {{#if (or (eq sideBarItem.label 'Organization Chart') (eq sideBarItem.label 'Photos') (eq sideBarItem.label 'Multimedia') (eq sideBarItem.label 'Social Media') )}}
            <a href={{sideBarItem.routeName}} target="_blank">{{sideBarItem.label}}</a>
            {{else}}
              {{#if (eq sideBarItem.label 'News Stories')}}
                  <LinkTo
                  @route={{sideBarItem.routeName}}
                  {{on "click" (fn this.setFilter 'field_story' 1 sideBarItem.routeName )}}
                  {{on "click" (fn this.setCurrentTab sideBarItem.label )}}
                >
                  {{sideBarItem.label}}
                </LinkTo>
              {{else}}
                  <LinkTo
                @route={{sideBarItem.routeName}}
                {{on "click" (fn this.setFilter 'filterBy' filter.propertyName sideBarItem.routeName )}}
                {{on "click" (fn this.setCurrentTab sideBarItem.label )}}
              >
                {{sideBarItem.label}}
              </LinkTo>
              {{/if}}
            {{/if}}
            {{#if isRouteActive}}
              <ul>
                {{#each sideBarItem.filters as |filter|}}
                  <li>
                    <a
                      href="javascript:void(0)"
                      {{on "click" (fn this.setFilter 'filterBy' filter.propertyName sideBarItem.routeName )}}
                    >
                      Filter By 
                      {{#if (equal filter.propertyName 'issue')}}
                          topic
                      {{else}}
                          {{filter.propertyName}}
                      {{/if}}

                    </a>

                    {{#if (equal @queryParams.filterBy filter.propertyName)}}
                      <ul class="side-bar-sub-nav">
                        {{#each filter.subOptions as |subOption|}}
                          <li class="list-style-none" >
                            {{!-- <a
                              href="javascript:void(0)"
                              {{on "click" (fn this.setFilter filter.propertyName subOption sideBarItem.routeName)}}
                            >
                              {{subOption}}
                            </a> --}}
                          <div class="" >
                            <input type="checkbox" id={{subOption}} name={{subOption}} {{on "click" (fn this.setFilter filter.propertyName subOption sideBarItem.routeName)}} {{on "click" (fn this.toggleFilter )}}>
                            <label for={{subOption}} > {{subOption}}</label>
                          </div>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                  </li>
                {{/each}}
                <li>
                  <a
                    href="javascript:void(0)"
                    {{on "click" (fn this.setFilter sideBarItem.routeName 'archive' sideBarItem.routeName)}}
                  >
                    Archived {{sideBarItem.label}}
                  </a>
                </li>
              </ul>
            {{/if}}
          </li>
        {{/let}}
      {{/each}}
    </ul>
  </div>
</div>