<div class="Main-well">
  <h2 class="h1">{{this.heading}}</h2>
  {{#if this.isViewingArchiveByYear}}
  <ul class="archive-year-option">
        {{#each this.archiveYearOptions as |year|}}
        <li>
          <a
            href="javascript:void(0)"
            {{on "click" (fn @setArchiveYear year)}}
          >
            {{year}}
          </a>
          </li>
        {{/each}}
  </ul>
  {{/if}}
  <ul class="MediaList">
    {{#if this.filteredNews}}
      {{#each this.filteredNews as |newsItem|}}
        <li class="MediaList-item">
          <News::item
            @newsItem={{newsItem}}
            @trimItemBody={{true}}
          />
        </li>
      {{/each}}
    {{else}}
    {{#let (string-contains 'archive' this.router.currentRouteName) as |isRouteActive|}}
      <li class="clear loader-icon">
        {{#if isRouteActive}}
        <img src="../../assets/images/loading.gif" alt="loading..">
        {{else}}
        <img src="../assets/images/loading.gif" alt="loading..">
        {{/if}}
      </li>
      {{/let}} 
    {{/if}}
   

  </ul>
</div>